
.hero_home.version_1 {
    background: #10747a url(../img/hero_home_bg_1.svg) no-repeat center bottom
}

.field-error {
    border: 2px solid #ff00006b !important;
}
.dropzone {
    border: 2px solid #efefef;
}
.menu {
    display: inline-flex;
    align-items: center;
}
.menu .main-menu {
    margin-left: auto;
}